.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #343a40;
}
/* footer{
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
} */
.nav-item:hover{

  background-color: green;
  
}
.bi{

  position:absolute; 
  color:black; 
  top:51%; 
  left:71%;
  

}
.card{
  transition: transform 0.4s ease;
}
.card:hover{
  transform: scale(1.05);
  /* transition: transform 4s ease-out; */
}

@media screen and (max-width:600px){

  .bi{

    position:absolute; 
    color:black; 
    top:59%; 
    left:85%;
    

  
  }

}